body {
  margin: 0;
  padding: 0;
  font: 16px/1.5 "helvetica neue", sans-serif;
}

main {
  margin: 30px;
}
@media (min-height: 100vw) and (max-width: 600px) {
  main {
    margin: calc((100vw - 300px) / 2);
  }
}

.board {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  width: 300px;
}
@media (max-width: 600px) {
  .board {
    margin: auto;
  }
}
.board > .row {
  display: flex;
  flex-direction: row;
  width: 300px;
}
.board > .row > div {
  flex: 0 0 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-bottom: none;
  border-right: none;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  line-height: 100px;
  transition: background ease 0.1s;
}
.board > .row > div:first-child {
  border-left: none;
}
.board > .row > div.active {
  background: rgba(0, 0, 0, 0.1);
  transition: background ease 0s;
}
.board > .row:first-child > div {
  border-top: none;
}
