body {
  margin: 0;
  padding: 0;
  font: 16px/1.5 'helvetica neue', sans-serif;
}

main {
  margin: 15px;
}

.board {
  cursor: default;

  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;

  > .row {
    display: flex;
    flex-direction: row;
    > div {
      flex: 0 0 100px;
      height: 100px;

      box-sizing: border-box;
      border: 1px solid #ddd;
      border-bottom: none;
      border-right: none;

      font-size: 32px;
      font-weight: 200;
      text-align: center;
      line-height: 100px;

      &:first-child {
        border-left: none;
      }

      transition: background ease .1s;

      &.active {
        background: rgba(0, 0, 0, 0.1);
        transition: background ease 0s;
      }
    }

    &:first-child > div {
      border-top: none;
    }
  }
}
